 <div class="custom-horizontal-list d-flex flex-row flex-nowrap overflow-auto">
    <% products_array.each do |product| %>
      <div class="card-custom-main-page">
        <div class="card-custom-main-page-top">

            <%= link_to product_path(product) do %>
              <%= image_tag product.image.variant(resize_to_limit: [280,280]).processed, alt: "Product Image", class: "card-custom-image" %>

            <% end %>
              
        </div>
        <div class="card-custom-main-page-bottom">
          <div class="card-custom-main-page-bottom-price">$<%=product.price%></div>
          <div class="card-custom-main-page-bottom-name"><%=product.name%></div>
        </div>
      </div>
    <% end %>
  </div>