
<div class="about-us-container mt-5">
    


    <div class="container p-3">
        
        <div class="row mt-5">
        
            <div class="col-12 col-lg-5">
                <div class="row mb-4">
    
                <div class="col">
                    <h1>About Us!</h1>             
                </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h5>Welcome to AmazoNeo - Your Ultimate Shopping Destination</h5>
                        <p>
                        At AmazoNeo, we believe in turning your shopping experiences into unforgettable adventures.
                        Our virtual shelves are stocked with a dazzling array of products that cater to all your desires and needs. From cutting-edge gadgets to timeless fashion,
                        from culinary delights to captivating books, we have it all - carefully curated to ensure you find exactly what you're looking for.
                        </p>
                    </div>
                </div>
            </div>
        
        
        
            <div class="col-12 col-lg-7">
        
            <%= image_tag "about_us.jpg", alt: "Site Logo", class:"img-fluid border rounded-4" %>
        
            </div>
        
        
        </div>
        
        
    </div>
</div>
