
<div class="about-us-container mt-5">
    


    <div class="container w-50">
        
        <div class="row mt-5">
        
            <div class="col">
                <div class="row mb-4">
    
                <div class="col text-center mb-5">
                    <h1>Contact</h1>             
                </div>
                </div>

                <div class="row">
                    <div class="col">
                       
                        <p>
                            Dear visitor,

                            Thank you for testing and looking around my e-commerce site practice app. I thank you for your time. I'd really like to hear any feedback you may have, whether it's positive or even negative.

                            Your constructive criticism, suggestions, and ideas are important to me and the learning process, so please don't hesitate to reach out.
                                <br>
                                <br>
                            You can contact me at: jesuswrivas@gmail.com
                                <br>
                                <br>
                            Best regards,

                        </p>
                    </div>
                </div>
            </div>
            
        
        
        
        </div>
        
        
    </div>
</div>
