
<% if flash[:notice]%>
  <%= render partial: "shared/notice" %> 
<% end%>




<div class="container-fluid py-2 w-75">
  <h2 class="font-weight-light">Latest Products!</h2>
    <%= render partial: "shared/items-horizontal", locals: { products_array: @last_7_products } %>
</div>







