
main{
    min-height: 100vh;
}

.navbar-link-custom{
    text-decoration: none;
    margin: 0 1rem;
    color: white;
    padding: 0;
}

.navbar-link-custom:hover{
   border: 1px solid white;
}


// *{
//     outline: 1px solid red;
// }

body{
    background-color: #E3E6E6;
}

.card-custom-main-page{
    min-height: 20rem;
    min-width: 20rem;
    margin-right: 5px;
    border: 0;
}

.custom-flex-main-page{
    gap: 0;
}


.card-custom-main-page-top{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.navbar--custom__bottom{
    color: white;
    background-color: #232F3E;
    font-size: 1.25rem;
    padding: 1rem;
}


.navbar--custom__top{
    background-color: #131921;
    color: white;
    font-size: 1.25rem;

}

.navbar--custom--brand{
    color: white;
    font-size: 3rem;
    margin-left: 1rem;
}



// HOME STYLING

.home-latest-products{
    background-color: white;
    padding: 2rem;
}