
.navbar-link-custom{
    text-decoration: none;
    margin: 0 1rem;
    color: white;
    padding: 0;
}



.navbar-link-custom:hover{
   border: 1px solid white;
}


*{
    outline: 1px solid red;
}



body, html{
    min-height: 100vh;
    height: auto;
}


.main-body{
   height: 100%;
}


.navbar--custom__bottom{
    color: white;
    background-color: #232F3E;
    padding: 1rem;
}

/* Add media query for screens around 500px */
@media (max-width: 900px) {
    .navbar--custom__bottom {
        flex-direction: column;
        
    }
    .navbar--custom__bottom div {
        justify-content: center !important;
        align-items: center !important;
    }
    .navbar--custom__bottom ul {
        justify-content: center;
        align-items: center;
    }

    .navbar--custom__top{
        flex-direction: column;
       
    }
    .navbar--custom__top div {
        justify-content: center !important;
        align-items: center !important;
    }
}




.navbar--custom__bottom:hover{
    cursor: pointer;
}


.navbar--custom__footer{
    color: white;
    background-color: #232F3E;
    padding: 1rem;
}



.navbar--custom__top{
    background-color: #131921;
    color: white;

}

.navbar--custom--brand{
    color: white;
    font-size: 3rem;
    margin-left: 1rem;
}



// HOME STYLING


.home-latest-products{
    background-color: white;
    padding: 2rem;
}


.custom-horizontal-list{
    height: 400px;
}


.card-custom-main-page{
    min-height: 75%;
    min-width: 300px;
    max-width: 350px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card-custom-main-page-top{
    height: auto;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-custom-image{
    height: auto;
    width: 100%;
    object-fit: cover;
    
}

.card-custom-main-page-bottom{
    height: auto;
    display: flex;
    flex-direction: column;
    
    
}

.card-custom-main-page-bottom-price{
    width: 30%;
    font-size: 1.3rem;
    font-weight: 500;
}


.card-custom-main-page-bottom-name p{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}



.custom-flex-main-page{
    gap: 0;
    height: 90%;
    justify-content: center;
    align-items: baseline;
}


.custom-home-subtitles{
    text-decoration: none;
    color: #007185;
    
}

.custom-home-subtitles:hover{
    color: #004f5d;
}



@media (max-width: 900px) {


    .custom-horizontal-list{
        height: 200px;
    }
    
    .card-custom-main-page{
        min-height: 75%;
        min-width: 200px;
        max-width: 250px;
        margin-right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .card-custom-main-page-top{
        height: 80%;
        width: 100%;
    }
    
    
    .card-custom-main-page-bottom{
        height: 20%;
        overflow: hidden;
        justify-content: space-around;
    }


    .card-custom-main-page-bottom-price{
        width: 30%;
        font-size: 0.8rem;
        font-weight: 500;
    }

    .card-custom-main-page-bottom-name{
        font-size: 0.7rem;
        overflow: hidden;
        height: 1rem;
        
    }
    
    .card-custom-main-page-bottom-name p{
        font-size: 0.7rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    
}






















// SHOW PRODUCT

.product-review-rating{
    color: #929393;

}

.product-review-title{
    font-weight: 500;
    
}

.product-review-user{
    font-size: 0.85rem;
}

.product-review-data{
    color: #929393;
}

.custom-product-container .row{
    border-bottom: 1px solid rgb(222, 226, 230);
}
.custom-product-info-price{
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid rgb(222, 226, 230);
}

.custom-product-actions{

    border: 1px solid rgb(222, 226, 230);
}

.custom-product-actions-price{
   font-size: 2rem; 
}
.custom-product-actions-qty{
    color: #7e7e7e;

}

.custom-text-success{
    color: green;
    font-weight: 500;
    font-size: 1.5rem;
}


.custom-text-danger{
    color: red;
    font-weight: 500;
    font-size: 1.5rem;
}

.custom-product-buttons-btn{
    border-radius: 4rem;
    background-color: rgb(250, 200, 0);
    padding: 0.25rem 0;
}

.btn_buy{
    background-color: orange;
}


// CART STYLING


.card-custom-cart{
    height: 250px;
    width:  100%;
    border: 2px solid #f5f5f5;
    padding: 1rem;
}

.card-custom-cart-image{
    height: 100%;
    width: 25%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.card-custom-cart-image img{
    object-fit: cover;
    max-width: 70%;
}

.card-custom-cart-info{
    width: 65%;
}

.card-custom-cart-info-title{
    font-size: 1.5rem;
    color: #0077C1;
    font-weight: 500;
}




.card-custom-cart-info-stock{
   color: green;
    
}


.card-custom-cart-price{
    width: 10%;
    font-size: 1.5rem;
    color: #CC0C39;
    font-weight: 800;
    text-align: end;

}


.card-custom-cart-info-options{
    display: flex;
    height: auto;
    gap: 1rem;
    
}

.card-custom-cart-info-options span{
    color: rgb(170, 174, 177);
}



.card-custom-cart-subtotal{
    font-size: 1.5rem;
    color: black;
}
.card-custom-cart-checkout{
    font-size: 1rem;
}




// New Review Styling

.container-card-review{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.card-review label{
    color: #696969;
    font-size: 0.75rem;
    
}

.card-review{
    padding: 2rem;
}

.card-review h5{
    font-size: 1.2rem;
}

.card-review-image{
    padding: 2rem;
    height: 250px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-review-image-picture{
    width: 80%;
    height: 90%; 
    object-fit: cover;
}

.card-review-title{
    padding: 2rem;
}


.card-review-title-question{
    text-align: center;
}
.card-review-title-name{
    text-align: center;
    font-size: 0.75rem;
}


.card-review-form-rating{
    padding: 1rem 2rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 1px solid #929393;
    
}

.card-review-form-rating-option{
    display: flex ;
}

.card-review-form-rating-option-field{
    width: 100%;
    height: 100%;
}


.card-review-form-rating-option div{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}


.card-review-form-title{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


.card-review-form-title-label{
    width: 90%;
}


.card-review-form-title-field{
    width: 90%;
}

.card-review-form-comment-label{
    width: 90%; 
}


.card-review-form-comment{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.card-review-form-comment-field{
    width: 90%;

}

.card-review-form-comment-field textarea{
    width: 100%;
    min-height: 150px;

}

.card-review-form-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.card-review-form-buttons button{
    margin-bottom: 1rem;
    width: 80%;
}


// SHOW CATEGORY PRODUCTS (INDEX)


.custom-category-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    justify-items: stretch;
    gap: 1rem;
        
}

.custom-category-card{
    border: 2px solid #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem ;
}

.custom-category-card-image{
    height: auto;
    width: 100%;
    object-fit: cover;
    
}

.custom-category-card-bottom-price{
    width: 30%;
    font-size: 1.3rem;
    font-weight: 500;
}










//PROFILE


.custom-nav-profile-left{
    border-right: 1px solid  rgb(222, 226, 230);
    
}

.custom-row{
    min-height: 60vh;
}


.custom-profile__nav{
    width: 100%;
    padding: 0;
    margin: 0;
    
    
}


.custom-profile__nav__item a{
    font-weight: 500;
    text-decoration: none;
    color: #232F3E;
    margin-left: 2rem;

   
}



.custom-profile__nav__item {
    list-style-type: none;
    padding: 0.5rem 0;
    
   
}

.custom-profile__nav__item:hover {
    background-color: #eaeded;
   
}



/* Add media query for screens around 500px */
@media (max-width: 576px) {

      .custom-profile__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .custom-profile__nav__item{
        flex: 1;
    }


}














////PAGINATION


.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

    //ABOUT US


.about-us-container{
    background-color: #ECF7FE;
    width: 100%;
    padding: 3rem 0;
    
}

.about-us-container{
    color: #232F3E;
}