
.navbar-link-custom{
    text-decoration: none;
    margin: 0 1rem;
    color: white;
    padding: 0;
}



.navbar-link-custom:hover{
   border: 1px solid white;
}


// *{
//     outline: 1px solid red;
// }



body, html{
   
    height: 100vh;
}


.main-body{
   height: 100%;
}


.navbar--custom__bottom{
    color: white;
    background-color: #232F3E;
    padding: 1rem;
}


.navbar--custom__top{
    background-color: #131921;
    color: white;

}

.navbar--custom--brand{
    color: white;
    font-size: 3rem;
    margin-left: 1rem;
}



// HOME STYLING

.home-latest-products{
    background-color: white;
    padding: 2rem;
}

.card-custom-main-page{
    height: 98%;
    min-width: 20rem;
    margin-right: 5px;
    border: 0;
}

.card-custom-main-page-top{
    height: 90%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
 
    

}

.card-custom-main-page-bottom{
    height: 10%;
    display: flex;
    justify-content: space-around;
}

.card-custom-image{
    height: auto;
    width: 80%;
    object-fit: cover;
    max-width: 100%;
}

.custom-flex-main-page{
    gap: 0;
    height: 90%;
    justify-content: center;
    align-items: baseline;
}


// .product-review-user{


// }

// .product-review-comment{

// }


.product-review-rating{
    color: grau;

}

.product-review-title{
    font-weight: 500;
}

.product-review-user{
    font-size: 0.85rem;
}

.product-review-data{
    color: #929393;
}

.custom-product-container .row{
    border-bottom: 1px solid rgb(163, 163, 163);
}